APP_NAME=FinSight
APP_VERSION=0.1.0
DEBUG=True
API_PREFIX=/api
FRONTEND_URL=http://localhost:5173

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# JWT
JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=1440z